


	<p> <%=link_to "Garments", garments_client_pieces_path %> </p>
	<p> <%=link_to "Bags", bags_client_pieces_path %> </p>
	<p> <%=link_to "Shoes", shoes_client_pieces_path %> </p>
	<p> <%=link_to "Accessories", accessories_client_pieces_path %> </p>
	
