<h2><%=@client.name%>'s Closet</h2>


  <%@pieces.each do |show|%>
	<ul class="all-pieces-grid">
  		<li><img src= <%=show.photo%>> Piece Number: <%=link_to show.id, show%></br> <%=show.designer%>
		</li>
	</ul>
  
  <%end%>

